<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .form-group { 
                margin-top:15px;
            }
            /* .content {
                margin: 5px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            } */
            /* body {
                padding-top: 60px;
            } */
            @media (max-width: 979px) {
                body {
                    padding-top: 0px;
                }
            }
        </style>

        <title>SmartIEP</title>
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
    </head>

    <header>
      {% include 'nav.html' %}
    </header>

    <body>
        {{ toastr.include_toastr_js() }}
        &nbsp;
        <h1 class="mt-5" style="text-align: center">
            Accounts
        </h1>
        <div class="content p-4">
            {% for account in accounts %}
                <div class="mt-3 p-2 border border-primary rounded">
                    <p><b>#{{ account.account_id }}</b></p>
                    <p><b>{{ account.callname }}</b></p>
                    <p><b>{{ account.username }}</b></p>
                </div>
            {% endfor %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>