<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SmartIEP</title>
        <style>
            p {
              text-align: center;
              font-size: large;
            }
            h1 {
                text-align: center;
            }
            h3 {
                text-align: center;
            }
            .form-group { 
                margin-top:15px;
            }
            .manual {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 75%;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
    </head>

    <header>
        {% include 'nav.html' %}
    </header>

    <body>
        
        &nbsp;
            <h1 class="mt-5">
               User Manual
            </h1>
            <p>Contact:</p>
            <a href="mailto:smcs2025y.falconware@gmail.com"><p>smcs2025y.falconware@gmail.com</p></a>
            <hr>
            <p>This manual will provide a run through of the application and how to use its features. Should you have further questions email us at the contact above.</p>
            <h3>Signing In</h3>
            <img class="manual" src="/static/signin.png">
            <br>
            <p>to sign in</p>
        
        
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>