<!DOCTYPE html>
<html lang="en">
    <head>

        <style>
            .form-group { 
                margin-top:15px;
            }
            </style>

        <title>SmartIEP</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet">
    </head>

    <header>
        {% include 'nav.html' %}
    </header>

    <body>
        &nbsp;

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>