<!DOCTYPE html>
<html lang="en">
    <head>

        <style>
            .form-group { 
                margin-top:15px;
            }
        </style>

        <title>SmartIEP</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
    </head>

    <header>
        {% include 'nav.html' %}
    </header>

    <body>
        &nbsp;
        <h1 class="mt-5" style="text-align: center">
            Create a Student
        </h1>
        <div class="m-4">
            <form class="mt-2" style="text-align: center" method="post"
                action="/createstudent">
                <input type="hidden" name="csrf_token"
                    value="{{ csrf_token() }}" />
                <!-- <div class="form-group">
                    <label for="stuid">I.D.</label>
                    <input class="form-control" name="stuid" id="stuid"
                        placeholder="I.D.">
                </div> -->
                <div class="form-group">
                    <label for="stuname">Name</label>
                    <input class="form-control" name="stuname" id="stuname"
                        placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="stutasks">MCPS 6 Digit ID</label>
                    <input class="form-control" name="stuschoolid"
                        id="stuschoolid"
                        placeholder="Tasks">
                </div>
                <div class="form-group">
                    <label for="stugrade">Grade</label>
                    <input type="number" class="form-control" name="stugrade"
                        id="stugrade"
                        placeholder="Grade">
                </div>
                <div class="form-group">
                    <label for="studob">Date of Birth</label>
                    <input class="form-control" name="studob" id="studob"
                        placeholder="Date of Birth">
                </div>
                <div class="form-group">
                    <label for="stutasks">Case Manager</label>
                    <input class="form-control" name="stumanager"
                        id="stumanager"
                        placeholder="Tasks">
                </div>
                <div class="form-group">
                    <button type="submit"
                        class="btn btn-default border border-secondary border-3">Submit</button>
                </div>
            </form>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>