 <nav
  class="navbar navbar-expand-lg fixed-top bg-body-tertiary navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="static\smartieplogo.png"
        width="120" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/signin">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus">User Manual</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logs">Progress Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/expandtasks">Expanded Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studentinfo">Student Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
      </ul>
      <span class="navbar-text">
        <b>{{ current_user.callname }}</b>
      </span>
      <a class="nav-link" href="/logout"><b>Log Out</b></a>
      {% endif %}
    </div>
  </div>
</nav>