<!DOCTYPE html>
<html lang="en">
    <head>

        <style>
            .form-group { 
                margin-top:15px;
            }
            /* .chart-container {
                margin: 0 auto;
                width: 50%;
            }  */
        </style>

        <title>SmartIEP</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
    </head>

    <header>
      {% include 'nav.html' %}
    </header>

    <script>
        function filterOptions() {
          var input, filter, options, i;
          input = document.getElementById("searchInput");
          filter = input.value.toUpperCase();
          options = document.getElementById("selectstudent").options;
        
          for (i = 0; i < options.length; i++) {
            if (options[i].text.toUpperCase().indexOf(filter) > -1) {
              options[i].style.display = "";
            } else {
              options[i].style.display = "none";
            }
          }
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var inputField = document.getElementById("searchInput");
    
            // Disable form submission on Enter key press
            inputField.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });
    </script>
    <script>
        function validateLogAdditionInput() {
            var input = document.getElementById("logtext");
            var value = input.value;

            // Check if the input contains the restricted character "|"
            if (value.includes("|") || value.includes(";")) {
                return false;
            }
            return true;
        }
    </script>


    <body>
        {{ toastr.include_toastr_js() }}
        <div class="content">
            &nbsp;
            <div style="text-align: center">
                <h1 class="mt-5">Progress Logs</h1>
                <form method = "post" action="/logs">
                    <label for="selectstudent">Filter Students:</label>
                    <div style="text-align: center">
                        <input type="text" id="searchInput" onkeyup="filterOptions()" placeholder="Search...">
                        <select id="selectstudent" name="selectstudent" onchange="this.form.submit()" required>
                            <option selected disabled hidden>Select a Student</option>
                            {% for student in students %}
                            {% if students|length > 0 %}
                            <option>{{ student.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="m-4">
                <h3>Student Displayed: {% if students|length > 0 and hasattr(retrieve_student(student_log_id),'name') %} {{ retrieve_student(student_log_id).name }} {% endif %}</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Controls</th>
                            <th scope="col">Log ID</th>
                            <th scope="col">Date (Year-Month-Date)</th>
                            <th scope="col">Log</th>
                            <th scope="col">Future Actions</th>
                            <th scope="col">Data</th>
                            <!-- <th scope="col">Goal</th>
                            <th scope="col">Progress</th>
                            <th scope="col">Comments</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% if students|length > 0 and hasattr(retrieve_student(student_log_id),'name') %}
                        {% for json_unit in retrieve_student(student_log_id).logs[:-1].split("|")[1:] %}
                        <tr>
                        
                            <td>
                                <form action="/removelogs" method="post">
                                    <!-- <input type="hidden" name="removelogtext{{ loop.index }}" value="{{ json.loads(json_unit)['ID'] }}"> -->
                                    <div class="input-group">
                                        <button class="btn btn-sm btn-danger" name="removelog" value="removelog{{ json.loads(json_unit)['ID'] }}" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/> </svg></button>
                                        <button type="button" class="btn btn-sm btn-light" data-toggle="collapse" data-target="#dropDownForm{{ loop.index }}" aria-expanded="false" aria-controls="dropDownForm">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16"> <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/> </svg>
                                        </button>
                                    </div>
                                </form>
                            </td>
                            <!-- <td>{{ json.loads(json_unit)['ID'] }}</td> -->
                            <!-- finish this! -->
                            <td>{{ loop.index }}</td>
                            <td>{{ json.loads(json_unit)['Date'] }}</td>
                            <td>{{ json.loads(json_unit)['Log'] }}</td>
                            <td>{{ json.loads(json_unit)['Future'] }}</td>
                            <td>{{ json.loads(json_unit)['Data'] }}{% if json.loads(json_unit)['Data'] != "" %}%{% endif %}</td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <div class="collapse" id="dropDownForm{{ loop.index }}">
                                    <form method = "post" action="/editlogs" onsubmit="return validateLogEditInput();">
                                        <div style="display: flex;">
                                            <div class="form-group">
                                                <label for="logmoddob">Date</label>
                                                <input type="date" value="2007-01-01" class="form-control" name="logmoddob{{ json.loads(json_unit)['ID'] }}" id="logmoddob" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="logmodlog">Log</label>
                                                <input type="text" class="form-control" name="logmodlog{{ json.loads(json_unit)['ID'] }}" id="logmodlog" placeholder="Enter Log" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="logmodfuture">Future Actions</label>
                                                <input type="text" class="form-control" name="logmodfuture{{ json.loads(json_unit)['ID'] }}" id="logmodfuture" placeholder="Enter Future Actions" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="logmoddata">Data</label>
                                                <input type="number" class="form-control" name="logmoddata{{ json.loads(json_unit)['ID'] }}" id="logmoddata" placeholder="Percent Grade/Qualitative Data (optional)">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-2" name="editlog" value="editlog{{ json.loads(json_unit)['ID'] }}">Submit</button>
                                    </form>
                            </td>
                        </tr>
                        <script>
                            function validateLogEditInput() {
                                var input = document.getElementById("logmodlog{{ json.loads(json_unit)['ID'] }}");
                                var value = input.value;
                    
                                // Check if the input contains the restricted character "|"
                                if (value.includes("|") || value.includes(";")) {
                                    return false;
                                }
                                return true;
                            }
                        </script>
                        {% endfor %}
                        {% endif %}
                        
                    </tbody>
                </table>
                {% if students|length > 0 and hasattr(retrieve_student(student_log_id),'name') %}
                <form action="/modifylogs" method="post" onsubmit="return validateLogAdditionInput();">
                    <div class="input-group">
                        <!-- <input class="form-control" name="logdate" id="logdate" placeholder="Date"> -->
                        <input type="date" value="{{ get_date() }}" class="form-control" name="logdate" id="logdate" required>
                        <input class="form-control" name="logtext" id="logtext" placeholder="Log" required>
                        <input class="form-control" name="logfuture" id="logfuture" placeholder="Future Actions">
                        <input type="number" class="form-control" name="logdata" id="logdata" step="0.01" placeholder="Percent Qualitative Data (optional)">
                        <button class="btn btn-primary" type="submit">+</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger border border-secondary border-3" 
            style="width: 50%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); 
            text-align: center;">
            {{ messages[0] }}. Go to <a href="/">login page</a>.
        </div>
        {% endif %}
        {% endwith %} -->

        <div class="chart-container">
            <canvas id="lineChart" width="1300" height="400"></canvas>
        </div>
        <script>
            var ctx = document.getElementById('lineChart').getContext('2d');
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                        {
                            label: 'Value',
                            data: {{ values|safe }},
                            fill: false,
                            borderColor: 'rgb(255, 99, 132)',
                            lineTension: 0.3
                        }
                    ]
                },
                options: {
                    responsive: false
                }
            });
        </script>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>