<!DOCTYPE html>
<html lang="en">
    <head>

        <style>
            .form-group { 
                margin-top:15px;
            }
        </style>

        <title>SmartIEP</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
    </head>

    <header>
        {% include 'nav.html' %}
    </header>

    <body>
        {{ toastr.include_toastr_js() }}
        &nbsp;
        <h1 class="mt-5" style="text-align: center">
            Create an Account
        </h1>
        <div class="m-4">
            <div class="container mt-3 border border-2 border-light rounded shadow p-3 mb-5 bg-white rounded">
            <form class="mt-2" style="text-align: center" method = "post" action="/register">
                <div class="form-group">
                    <label for="regcallname">Name</label>
                    <input class="form-control" name="regcallname" id="regcallname"
                        placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="regusername">Email address</label>
                    <input type="email" class="form-control" name="regusername" id="regusername"
                        placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="regpassword">Password</label>
                    <input type="password" class="form-control"
                        name="regpassword" id="regpassword" placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default border border-secondary border-3">Submit</button>
                </div>
            </form>
            </div>
        </div>

        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger border border-secondary border-3" style="width: 50%; position: absolute; top: 75%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
                    {{ messages[0] }}. Go to <a href="/">login page</a>.
                </div>
            {% endif %}
        {% endwith %} -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>