<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .form-group { 
                margin-top:12px;
            }
            .form-group .btn {
                margin-right: 5px;
            }
            .content {
                margin: 5px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            body {
                padding-top: 60px;
            }
            @media (max-width: 979px) {
                body {
                    padding-top: 0px;
                }
            }
            p {
                margin-top: 0;
                margin-bottom: 1rem;
            }
            
        </style>

        <title>SmartIEP</title>
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        {{ toastr.include_jquery() }}
        {{ toastr.include_toastr_css() }}
        {{ toastr.message() }}
    </head>

    <header>
      {% include 'nav.html' %}
    </header>

    <script>
        function validateGoalInput() {
          var input = document.getElementById("add_goal");
          var value = input.value;
    
          // Check if the input contains any restricted characters
          if (/[()\[\];]/.test(value)) {
            return false;
          }
          return true;
        }
    </script>

    <script>
        function validateObjectiveInput() {
            var input = document.getElementById("add_objective");
            var value = input.value;

            // Check if the input contains any restricted characters
            if (/[()\[\];]/.test(value)) {
                return false;
            }
            return true;
        }
    </script>

    <body>

        {{ toastr.include_toastr_js() }}
        <!-- <div class="content">
            
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded mr-2" alt="...">
              <strong class="mr-auto">Bootstrap</strong>
              <small class="text-muted">11 mins ago</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              {{ messages[0] }}
            </div>
          </div>
        {% endif %}
        {% endwith %} -->

        <div class="content">
            <div class="m-4 border border-2 border-primary rounded">
                <div class="row">
                    <div class="col">
                        <form class="m-4" method="post" action="/createstudent">
                            <h5>Create Student</h5>
                            <div class="form-group">
                                <label for="stuname">Name</label>
                                <input class="form-control" name="stuname" id="stuname"
                                    placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="stuschoolid">MCPS ID</label>
                                <input type="number" class="form-control" name="stuschoolid" id="stuschoolid"
                                    placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="stugrade">Grade</label>
                                <input type="number" class="form-control" name="stugrade" id="stugrade"
                                    placeholder="Grade" required>
                            </div>
                            <div class="form-group">
                                <label for="studob">Date of Birth</label>
                                <!-- <input class="form-control" name="studob" id="studob"
                                    placeholder="Date of Birth" required> -->
                                <input type="date" value="2007-01-01" class="form-control" name="studob" id="studob" required>
                            </div>
                            <div class="form-group">
                                <label for="studisability">Disability</label>
                                <!-- <input class="form-control" name="studob" id="studob"
                                    placeholder="Date of Birth" required> -->
                                <input class="form-control" name="studisability" id="studisability" placeholder="Disability" required>
                            </div>
                            <div class="form-group"> 
                                <label for="stumanager">Case Manager</label>
                                <!-- <input class="form-control" name="stumanager" id="stumanager"
                                    placeholder="Case Manager" required> -->
                                <select class="form-control" id="stumanager" name="stumanager" required>
                                    {% for account in accounts %}
                                    <option>{{ account.callname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="stulastreview">Last Annual Review</label>
                                <!-- <input class="form-control" name="studob" id="studob"
                                    placeholder="Date of Birth" required> -->
                                <input type="date" value="2023-01-01" class="form-control" name="stulastreview" id="stulastreview" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default border border-secondary border-3">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div class="col">
                        <form class="m-4" method="post" action="/setfilter">
                            <h5>Filter</h5>
                            <div class="form-group">
                                <label for="stumanager">Case Manager</label>
                                <!-- <input class="form-control" name="stumanager" id="stumanager"
                                    placeholder="Case Manager" required> -->
                                <select class="form-control" id="case_manager" name="case_manager" required>
                                    <option>NO FILTER</option>
                                    {% for account in accounts %}
                                    <option>{{ account.callname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="stumanager">Grade</label>
                                <!-- <input class="form-control" name="stumanager" id="stumanager"
                                    placeholder="Case Manager" required> -->
                                <!-- <input type="number" class="form-control" value="NO FILTER" name="grade_level" id="grade_level" placeholder="Grade"> -->
                                <select class="form-control" id="grade_level" name="grade_level" required>
                                    <option>NO FILTER</option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                    <option>10</option>
                                    <option>11</option>
                                    <option>12</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default border border-secondary border-3">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            {% for student in students %}
                <div style="height: 500px; overflow-y: scroll;" class="m-4 border border-2 border-primary rounded">
                    <h2 class="p-2" style="text-align: center">{{ student.name }}</h2>
                    <!-- <ul>
                        <li><b>Student Database ID:</b> #{{ student.student_id }}</li>
                        <li><b>MCPS ID:</b> {{ student.school_id }}</li>
                        <li><b>Grade:</b> {{ student.grade }}</li>
                        <li><b>Date of Birth:</b> {{ student.dateofbirth }}</li>
                        <li><b>Case Manager:</b> {{ student.casemanager }}</li>
                    </ul> -->
                    <!-- <div class="container">
                        <div class="col">
                            
                                <b class="row">Student Database ID:</b> #{{ student.student_id }}
                                <b class="row">MCPS ID:</b> {{ student.school_id }}
                                <b class="row">Grade:</b> {{ student.grade }}
                                <b class="row">Date of Birth:</b> {{ student.dateofbirth }}
                            
                            <div class="col">
                                <b class="col">Case Manager:</b> {{ student.casemanager }}
                                <b class="col">Disability:</b> {{ student.disability }}
                                <b class="col">Last Annual Review:</b> {{ student.last_annual_review }}
                            </div>
                        </div>
                    </div> -->
                    <table class="table table-borderless table-sm m-3 w-auto">
                        <tbody>
                            <tr>
                                <td><b>Student Database ID:</b> #{{ student.student_id }}</td>
                                <td><b>MCPS ID:</b> {{ student.school_id }}</td> 
                            </tr>
                            <tr>
                                <td><b>Grade:</b> {{ student.grade }}</td>
                                <td><b>Date of Birth:</b> {{ student.dateofbirth }}</td>
                            </tr>
                            <tr>
                                <td><b>Case Manager:</b> {{ student.casemanager }}</td>
                                <td><b>Disability:</b> {{ student.disability }}</td>
                        
                            </tr>
                            <tr>
                                <td><b>Last Review:</b> {{ student.last_annual_review }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="container">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#dropDownForm{{ student.student_id }}" aria-expanded="false" aria-controls="dropDownForm">
                                Modify Student
                            </button>
                            <form class="m-1" method="post" action="/exportstudent">
                                <button class="btn btn-primary" name="export_button" value="export_button{{ student.student_id }}" type="submit">
                                    Export Student
                                </button>
                            </form>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <form class="m-1" method="post" action="/viewlogs">
                                <button class="btn btn-primary" name="viewlog" value="viewlog{{ student.student_id }}" type="submit">
                                    View Student Logs
                                </button>
                            </form>
                            <form class="m-1" method="post" action="/expandtasks">
                                <button class="btn btn-primary" name="expandtasks" value="expandtasks{{ student.student_id }}" type="submit">
                                    Expand Tasks
                                </button>
                            </form>
                        </div>
                        <div class="collapse" id="dropDownForm{{ student.student_id }}">
                            <form method = "post" action="/students">
                                <div class="form-group">
                                    <label for="boxmodname">Name</label>
                                    <input type="text" class="form-control" name="boxmodname{{ student.student_id }}" id="boxmodname" placeholder="Enter name" required>
                                </div>
                                <div class="form-group">
                                    <label for="boxmodschoolid">MCPS ID</label>
                                    <input type="number" class="form-control" name="boxmodschoolid{{ student.student_id }}" id="boxmodschoolid" placeholder="Enter MCPS ID" required>
                                </div>
                                <div class="form-group">
                                    <label for="boxmodgrade">Grade</label>
                                    <input type="number" class="form-control" name="boxmodgrade{{ student.student_id }}" id="boxmodgrade" placeholder="Enter grade" required> 
                                </div>
                                <div class="form-group">
                                    <label for="boxmoddob">Date of Birth</label>
                                    <!-- <input type="text" class="form-control" name="boxmoddob{{ student.student_id }}" id="boxmoddob" placeholder="Enter date of birth" required> -->
                                    <input type="date" value="2007-01-01" class="form-control" name="boxmoddob{{ student.student_id }}" id="boxmoddob" required>
                                </div>
                                <div class="form-group">
                                    <label for="boxmoddisability">Disability</label>
                                    <!-- <input type="text" class="form-control" name="boxmoddob{{ student.student_id }}" id="boxmoddob" placeholder="Enter date of birth" required> -->
                                    <input type="text" class="form-control" name="boxmoddisability{{ student.student_id }}" id="boxmoddisability" placeholder="Enter disability" required>
                                </div>
                                <div class="form-group">
                                    <label for="boxmodmanager">Case Manager</label>
                                    <!-- <input type="text" class="form-control" name="boxmodmanager{{ student.student_id }}" id="boxmodmanager" placeholder="Enter Case Manager" required> -->
                                    <select class="form-control" id="boxmodmanager" name="boxmodmanager{{ student.student_id }}" required>
                                        {% for account in accounts %}
                                        <option>{{ account.callname }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="boxmodlastreview">Last Review</label>
                                    <!-- <input type="text" class="form-control" name="boxmoddob{{ student.student_id }}" id="boxmoddob" placeholder="Enter date of birth" required> -->
                                    <input type="date" value="2023-01-01" class="form-control" name="boxmodlastreview{{ student.student_id }}" id="boxmodlastreview" required>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2" name="submit_button" value="submit{{ student.student_id }}">Submit</button>
                            </form>
                        </div>
                    </div>

                    <!-- HERE -->
                    <div class="m-2">
                        <form method="post" action="/addgoal" onsubmit="return validateGoalInput();">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="add_goal{{ student.student_id }}" id="add_goal" placeholder="Add Goals" required>
                                <button type="submit" class="btn btn-success" name="submit_goal" value="submit{{ student.student_id }}">+</button>
                            </div>
                        </form>
                        <!-- <form method="post" action="/removegoal">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="remove_goal{{ student.student_id }}" id="remove_goal" placeholder="Remove Task" required>
                                <button type="submit" class="btn btn-danger" name="remove_goal" value="remove{{ student.student_id }}">Goal</button>
                                <button type="submit" class="btn btn-danger" name="remove_obj" formaction="/removeobjective" value="remove_obj{{ student.student_id }}">Obj</button>
                            </div>
                        </form> -->
                        <!-- <form method="post" action="/setprogress">
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="set_progress{{ student.student_id }}" id="set_progress" placeholder="Update Task Progress" required>
                                <button type="submit" class="btn btn-secondary" name="setnodata" formaction="/setnodata" value="setnodata{{ student.student_id }}">No Data</button>
                                <button type="submit" class="btn btn-warning" name="setinprogress" formaction="/setinprogress" value="setinprogress{{ student.student_id }}">In Progress</button>
                                <button type="submit" class="btn btn-success" name="setcomplete" formaction="/setcomplete" value="setcomplete{{ student.student_id }}">Complete</button>
                            </div>
                        </form> -->
                    </div>
                    {% set taskcounter = 1 %}
                    {% for taskarr in parse_tasks(student.tasks) if not taskarr|length == 0%}
                        <ul class="mt-1">
                            <li>
                                {% set taskcounter = taskcounter + 1 %}
                                <p id="remove_goal_text{{ student.student_id }}" style="margin-bottom: 0rem;" class="{% if taskarr[0][0] == '0' %}text-secondary{% elif taskarr[0][0] == '1' %}text-warning{% elif taskarr[0][0] == '2' %}text-success{% endif %}">{{ taskarr[0][1:] }}</p>
                                <!-- <div class="row">
                                    <div class="col-md-6"> -->
                                        <form method="post" action="/removegoal">
                                            <input type="hidden" value="{{taskarr[0][1:]}}" name="{{loop.index}}remove_goal{{ student.student_id }}" required>
                                            <input type="hidden" value="{{taskarr[0]}}" name="{{ taskcounter }}alternate{{ student.student_id }}" required>
                                            <div class="input-group">
                                                <button type="submit" class="btn btn-sm btn-danger" name="remove_goal" value="{{loop.index}}remove{{ student.student_id }}">X</button>
                                                <button type="submit" class="btn btn-sm btn-warning" name="alternate_button" formaction="/alternateprogress" value="{{ taskcounter }}alternate{{ student.student_id }}">A</button>
                                            </div>
                                        </form>
                                    <!-- </div> -->
                                    <!-- <div class="col-md-6">
                                        <form method="post" action="/alternateprogress">
                                            <div class="form-group">
                                                <input type="hidden" value="{{taskarr[0][1:]}}" name="{{ taskcounter }}alternate{{ student.student_id }}" required>
                                                <button type="submit" class="btn btn-sm btn-warning" name="alternate" value="{{ taskcounter }}alternate{{ student.student_id }}">A</button>
                                            </div>
                                        </form>
                                    </div> -->
                                <!-- </div> -->
                            </li>
                                <ul>
                                    {% set counter = 1%}
                                    {% for objective in taskarr[1:] %}
                                        <!-- <li>{{ taskarr[loop.index] }}</li> -->
                                        {% set taskcounter = taskcounter + 1 %}
                                        <li>
                                            <!-- <input type="checkbox" {% if taskarr[loop.index][0] == "1" %} checked="checked"{% endif %}> {{ taskarr[loop.index][1:] }}</input> -->
                                            <p id="remove_obj_text{{ student.student_id }}" style="margin-bottom: 0rem;" class="{% if taskarr[loop.index][0] == '0' %}text-secondary{% elif taskarr[loop.index][0] == '1' %}text-warning{% elif taskarr[loop.index][0] == '2' %}text-success{% endif %}">{{ taskarr[loop.index][1:] }}</p>
                                            <form method="post" action="/removeobjective">
                                                <input type="hidden" value="{{taskarr[loop.index][1:]}}" name="{{loop.index}}remove_obj{{ student.student_id }}remove_obj{{counter}}" id="{{loop.index}}remove_obj{{ student.student_id }}" required>
                                                <input type="hidden" value="{{taskarr[loop.index]}}" name="{{ taskcounter }}alternate{{ student.student_id }}" required>
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-sm btn-danger" name="remove_obj" value="{{loop.index}}remove{{ student.student_id }}remove{{counter}}">X</button>
                                                    <button type="submit" class="btn btn-sm btn-warning" name="alternate_button" formaction="/alternateprogress" value="{{ taskcounter }}alternate{{ student.student_id }}">A</button>
                                                </div>
                                            </form>
                                            
                                        </li>
                                        
                                    {% endfor %}
                                    {% set counter = counter + 1%}
                                </ul>

                                <!-- HERE -->
                                <form method="post" class="m-2" action="/addobjectives" onsubmit="return validateObjectiveInput();">
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" name="{{ student.student_id }}obj{{ loop.index }}" id="add_objective" placeholder="Objectives" required>
                                      <button class="btn btn-success" type="submit" name="add_objective" value="{{ student.student_id }};{{ loop.index }}">+</button>      
                                    </div>
                                </form> 
                        </ul>   
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger border border-secondary border-3" 
            style="width: 50%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); 
            text-align: center;">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %} -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>