<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .form-group { 
                margin-top:15px;
            }
            .content {
                margin: 5px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            body {
                padding-top: 60px;
            }
            @media (max-width: 979px) {
                body {
                    padding-top: 0px;
                }
            }
            </style>

        <title>SmartIEP</title>
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <header>
      {% include 'nav.html' %}
    </header>

    <body>
        
        <div class="content">
            {% for student in students %}
                <div class="m-4 border border-primary rounded">
                    <ul>
                        <li>#{{ student.account_id }}</li>
                        <li>{{ student.name }}</li>
                        <li>{{ student.grade }}</li>
                        <li>{{ student.dateofbirth }}</li>
                    </ul>
                    {% for taskarr in parse_tasks(student.tasks) if not taskarr|length == 0%}
                        <ul>
                            <!-- <li>{{ taskarr[0] }}</li> -->
                            <li>
                                <input type="checkbox" {% if taskarr[0][0] == "1" %} checked="checked"{% endif %}>{{ taskarr[0][1:] }}</input>
                            </li>
                            </li>
                                <ul>
                                    {% set counter = 1%}
                                    {% for objective in taskarr[1:] %}
                                        <!-- <li>{{ taskarr[loop.index] }}</li> -->
                                        <li>
                                            <input type="checkbox" {% if taskarr[loop.index][0] == "1" %} checked="checked"{% endif %}>{{ taskarr[loop.index][1:] }}</input>
                                        </li>
                                    {% endfor %}
                                </ul>
                        </ul>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>