<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .form-group { 
                margin-top:15px;
            }
            .content {
                margin: 5px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            body {
                padding-top: 60px;
            }
            @media (max-width: 979px) {
                body {
                    padding-top: 0px;
                }
            }
            </style>

        <title>SmartIEP</title>
        <link rel="icon" type="image/x-icon" href="static\smallsmartieplogo.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <header>
      {% include 'nav.html' %}
    </header>

    <body>
        <div class="content">
            
        </div>
        <div class="content">
            <div class="m-4 border border-2 border-primary rounded">
                <form class="m-4" method="post" action="/createstudent">
                    <div class="form-group">
                        <label for="stuname">Name</label>
                        <input class="form-control" name="stuname" id="stuname"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="stuschoolid">MCPS ID</label>
                        <input class="form-control" name="stuschoolid" id="stuschoolid"
                            placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="stugrade">Grade</label>
                        <input type="number" class="form-control" name="stugrade" id="stugrade"
                            placeholder="Grade">
                    </div>
                    <div class="form-group">
                        <label for="studob">Date of Birth</label>
                        <input class="form-control" name="studob" id="studob"
                            placeholder="Date of Birth">
                    </div>
                    <div class="form-group">
                        <label for="stumanager">Case Manager</label>
                        <input class="form-control" name="stumanager" id="stumanager"
                            placeholder="Case Manager">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default border border-secondary border-3">Submit</button>
                    </div>
                </form>
            </div>
            {% for student in students %}
                <div class="m-4 border border-2 border-primary rounded">
                    <ul>
                        <li>Student Database ID: #{{ student.student_id }}</li>
                        <li>MCPS ID: {{ student.school_id }}</li>
                        <li>Name: {{ student.name }}</li>
                        <li>Grade: {{ student.grade }}</li>
                        <li>Date of Birth: {{ student.dateofbirth }}</li>
                        <li>Case Manager: {{ student.casemanager }}</li>
                    </ul>

                    <div class="container">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dropDownForm{{ student.student_id }}" aria-expanded="false" aria-controls="dropDownForm">
                                Modify Student
                            </button>
                            <form class="m-2" method="post" action="/viewlogs">
                                <button class="btn btn-primary" name="viewlog" value="viewlog{{ student.student_id }}" type="submit">
                                    View Student Logs
                                </button>
                            </form>
                            <form class="m-2" method="post" action="/exportstudent">
                                <button class="btn btn-primary" name="export_button" value="export_button{{ student.student_id }}" type="submit">
                                    Export Student
                                </button>
                            </form>
                        </div>
                        <div class="collapse" id="dropDownForm{{ student.student_id }}">
                            <form method = "post" action="/students">
                                <div class="form-group">
                                    <label for="boxmodname">Name</label>
                                    <input type="text" class="form-control" name="boxmodname{{ student.student_id }}" id="boxmodname" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="boxmodschoolid">MCPS ID</label>
                                    <input type="number" class="form-control" name="boxmodschoolid{{ student.student_id }}" id="boxmodschoolid" placeholder="Enter MCPS ID">
                                </div>
                                <div class="form-group">
                                    <label for="boxmodgrade">Grade</label>
                                    <input type="number" class="form-control" name="boxmodgrade{{ student.student_id }}" id="boxmodgrade" placeholder="Enter grade">
                                </div>
                                <div class="form-group">
                                    <label for="boxmoddob">Date of Birth</label>
                                    <input type="text" class="form-control" name="boxmoddob{{ student.student_id }}" id="boxmoddob" placeholder="Enter date of birth">
                                </div>
                                <div class="form-group">
                                    <label for="boxmodmanager">Case Manager</label>
                                    <input type="text" class="form-control" name="boxmodmanager{{ student.student_id }}" id="boxmodmanager" placeholder="Enter Case Manager">
                                </div>
                                <button type="submit" class="btn btn-primary mt-2" name="submit_button" value="submit{{ student.student_id }}">Submit</button>
                            </form>
                        </div>
                    </div>

                    <!-- HERE -->
                    <form method="post" class="m-2" action="/addgoal">
                        <div class="input-group">
                          <input type="text" class="form-control" name="add_goal{{ student.student_id }}" id="add_goal" placeholder="Add Goals">
                          <button type="submit" class="btn btn-success" name="submit_goal" value="submit{{ student.student_id }}">+</button>
                        </div>
                    </form>
                    <form method="post" class="m-2" action="/removegoal">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="remove_goal{{ student.student_id }}" id="remove_goal" placeholder="Remove Task">
                            <button type="submit" class="btn btn-danger" name="remove_goal" value="remove{{ student.student_id }}">Goal</button>
                            <button type="submit" class="btn btn-danger" name="remove_obj" formaction="/removeobjective" value="remove_obj{{ student.student_id }}">Obj</button>
                          </div>
                    </form>
                    {% for taskarr in parse_tasks(student.tasks) if not taskarr|length == 0%}
                        <ul class="mt-1">
                            <!-- <li>{{ taskarr[0] }}</li> -->
                            <li>
                                <input type="checkbox" {% if taskarr[0][0] == "1" %} checked="checked"{% endif %}> {{ taskarr[0][1:] }}</input>
                            </li>
                                <ul>
                                    {% set counter = 1%}
                                    {% for objective in taskarr[1:] %}
                                        <!-- <li>{{ taskarr[loop.index] }}</li> -->
                                        <li>
                                            <input type="checkbox" {% if taskarr[loop.index][0] == "1" %} checked="checked"{% endif %}> {{ taskarr[loop.index][1:] }}</input>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <!-- HERE -->
                                <form method="post" class="m-2" action="/addobjectives">
                                    <div class="input-group mb-3">
                                      <input type="text" class="form-control" name="{{ student.student_id }}obj{{ loop.index }}" id="add_objective" placeholder="Objectives">
                                      <button class="btn btn-success" type="submit" name="add_objective" value="{{ student.student_id }};{{ loop.index }}">+</button>      
                                    </div>
                                </form> 
                        </ul>   
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger border border-secondary border-3" 
            style="width: 50%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); 
            text-align: center;">
            {{ messages[0] }}.
        </div>
        {% endif %}
        {% endwith %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>